@import 'vendor/normalize.scss';
@import 'variables.scss';
@import 'sections/components.scss';
@import 'sections/header.scss';
@import 'sections/headline.scss';
@import 'sections/filter.scss';
@import 'sections/content.scss';
@import 'sections/decor.scss';
@import 'sections/problem.scss';
@import 'sections/personal.scss';
@import 'sections/history.scss';
@import 'sections/deposit.scss';
@import 'sections/footer.scss';


* {
  box-sizing: border-box;
  color: $color-main;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

body {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #272727;
  background-image: url('/assets/img/bg.svg');
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  min-height: 100%;
}
