@import 'vendor/normalize.scss';
@import 'variables.scss';
@import 'sections/components.scss';
@import 'sections/header.scss';
@import 'sections/menu.scss';
@import 'sections/headline.scss';
@import 'sections/filter.scss';
@import 'sections/content.scss';
@import 'sections/decor.scss';
@import 'sections/problem.scss';
@import 'sections/personal.scss';
@import 'sections/history.scss';
@import 'sections/deposit.scss';
@import 'sections/footer.scss';


* {
  box-sizing: border-box;
  color: $color-main;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #202020;
  background-image: url('/assets/img/bg.svg');
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  min-height: 100%;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}
