// colors
$color-main: #00141E;
$color-category: #C8CDCD;
$color-menu: #555E61;
$color-matches: #001E28;
$color-white: #FFFFFF;

// grid
$breakpoint-mobile: 690px;
$breakpoint-hockey: 700px;
$breakpoint-md: 815px;
$breakpoint-vb: 951px;
$breakpoint-xl: 1049px;
$breakpoint-desk: 1920px;

// container size
$container-sm: 540px;
$container-content: 688px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1200px; // 1140
$container-mb: 1200px; // 1140
$container-desk: 1048px;
