.content {
  margin-bottom: 100px;

  @media (max-width: $breakpoint-lg) {
    margin-bottom: 50px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;

    @media (max-width: $breakpoint-lg) {
      margin-top: 49px;
    }
  }

  &__title {
    margin: 0;
  }

  &__currencies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;

    @media (max-width: $breakpoint-lg) {
      gap: 10px;
    }

    span {
      color: rgb(255 255 255 / 40%);
    }
  }

  &__currency {
    padding: 8px 16px;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 9px;
    margin-top: 37px;
  }

  &__filter {
    position: relative;
    padding: 12px 20px;
    white-space: nowrap;

    span {
      position: absolute;
      top: -18px;
      left: 0;
      padding: 3px 8px;
      font-weight: 500;
      font-size: 10px;
      line-height: 11px;
      border-radius: 4px;

      &.hit {
        color: #C98933;
        background: #342D22;
      }

      &.popular {
        color: #588EB7;
        background: #2B3134;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 215px;
    margin-top: 19px;

    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }

  &__countries {
    display: flex;
    flex-direction: column;
    height: 454px;
    margin-top: 14px;
    padding-top: 2px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
      height: 465px;
      background: #444444;
    }

    &::-webkit-scrollbar-thumb {
      width: 2px;
      height: 108px;
      background: #FFFFFF;
    }
  }

  input[type='radio'] {
    display: none;
  }

  &__country {
    position: relative;
    margin-bottom: 16px;
    padding-left: calc(14px + 22px);
    cursor: pointer;


    span {
      color: rgb(255 255 255 / 60%);
    }

    img {
      opacity: 0.5;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 22px;
      height: 22px;
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='21' height='21' rx='10.5' fill='%231E1E1E' stroke='black'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: cover;
      transform: translateY(-50%);
      content: '';
    }

    &:hover {
      span {
        color: $color-brand;
      }

      img {
        opacity: 1;
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='21' height='21' rx='10.5' fill='%231E1E1E' stroke='%23699827'/%3E%3C/svg%3E%0A");
      }
    }
  }

  input[type='radio']:checked + label {
    span {
      color: #FFFFFF;
    }

    img {
      opacity: 1;
    }

    &::before {
      top: calc(50% + 3px);
      left: -2px;
      width: 26px;
      height: 28px;
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='0.5' width='21' height='21' rx='10.5' fill='%231E1E1E' stroke='%2388C136'/%3E%3Cg filter='url(%23filter0_d_688_17184)'%3E%3Ccircle cx='13' cy='11' r='6' fill='%2388C136'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_688_17184' x='0' y='2' width='26' height='26' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='3.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.533333 0 0 0 0 0.756863 0 0 0 0 0.211765 0 0 0 0.17 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_688_17184'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_688_17184' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &:hover {
      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='0.5' width='21' height='21' rx='10.5' fill='%231E1E1E' stroke='%23699827'/%3E%3Cg filter='url(%23filter0_d_808_25367)'%3E%3Ccircle cx='13' cy='11' r='6' fill='%23699827'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_808_25367' x='0' y='2' width='26' height='26' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='3.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.533333 0 0 0 0 0.756863 0 0 0 0 0.211765 0 0 0 0.17 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_808_25367'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_808_25367' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    color: #FFFFFF;
  }

  &__search {
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      right: 14px;
      width: 18px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_688_17170)'%3E%3Cpath d='M13.9719 16.0663L14.4316 15.6066L14.4316 15.6066L13.9719 16.0663ZM16.0663 13.9719L16.5259 13.5123L16.5259 13.5123L16.0663 13.9719ZM15.0846 12.0711C14.8308 11.8172 14.4192 11.8172 14.1654 12.0711C13.9115 12.3249 13.9115 12.7365 14.1654 12.9903L15.0846 12.0711ZM12.9903 14.1654C12.7365 13.9115 12.3249 13.9115 12.0711 14.1654C11.8172 14.4192 11.8172 14.8308 12.0711 15.0846L12.9903 14.1654ZM2.15 7.875C2.15 4.71317 4.71317 2.15 7.875 2.15V0.85C3.9952 0.85 0.85 3.9952 0.85 7.875H2.15ZM7.875 2.15C11.0368 2.15 13.6 4.71317 13.6 7.875H14.9C14.9 3.9952 11.7548 0.85 7.875 0.85V2.15ZM13.6 7.875C13.6 11.0368 11.0368 13.6 7.875 13.6V14.9C11.7548 14.9 14.9 11.7548 14.9 7.875H13.6ZM7.875 13.6C4.71317 13.6 2.15 11.0368 2.15 7.875H0.85C0.85 11.7548 3.9952 14.9 7.875 14.9V13.6ZM15.6067 15.6066C15.2822 15.9311 14.7561 15.9311 14.4316 15.6066L13.5123 16.5259C14.3445 17.358 15.6937 17.358 16.5259 16.5259L15.6067 15.6066ZM15.6066 14.4316C15.9311 14.756 15.9311 15.2821 15.6067 15.6066L16.5259 16.5259C17.3581 15.6937 17.3581 14.3445 16.5259 13.5123L15.6066 14.4316ZM14.1654 12.9903L15.6067 14.4316L16.5259 13.5123L15.0846 12.0711L14.1654 12.9903ZM14.4316 15.6066L12.9903 14.1654L12.0711 15.0846L13.5123 16.5259L14.4316 15.6066Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_688_17170'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: cover;
      transform: translateY(-50%);
      content: '';
    }
  }


  &__input {
    width: 100%;
    padding: 13px 0;
    padding-right: 40px;
    padding-left: 12px;
  }

  &__main {
    box-sizing: border-box;
    width: 900px;
    margin-top: 18px;
    padding: 20px 32px;
    background: #1E1E1E;
    border: 1px solid #0C0C0C;
    border-radius: 5px;

    @media (max-width: $breakpoint-lg) {
      width: 100%;
      padding: 18px 26px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
      gap: 6px;
    }
  }

  &__main-title {
    margin: 0;
    margin-top: 4px;
  }

  &__info-right {
    margin-top: 5px;
    padding-right: 42px;
    color: rgb(255 255 255 / 60%);

    @media (max-width: $breakpoint-lg) {
      padding-right: 0;
      font-size: 11px;
      line-height: 16px;
    }

    &--darker {
      color: #787878;
    }
  }

  &__br {
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }


  &__slider-text {
    width: 296px;
    padding: 4px 0 4px 16px;
    color: #FFFFFF;
    background: #2B2B2B;
    border: 1px solid #3E3E3E;

    @media (max-width: $breakpoint-lg) {
      width: 268px;
    }
  }

  &__from-to {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    padding: 0 7px;


    span {
      color: #949494;
      font-weight: 500;
      font-size: 9px;
      line-height: 11px;
      text-transform: uppercase;
    }
  }

  &__range {
    width: 100%;
    height: 1px;
    padding: 0 5px;
    color: $color-brand;
    background: transparent;
    appearance: none;

    &::-webkit-slider-thumb {
      width: 9px;
      height: 9px;
      background: $color-brand;
      border-radius: 50%;
      cursor: pointer;
      appearance: none;
    }
  }

  &__dropdown {
    width: 296px;

    @media (max-width: $breakpoint-lg) {
      width: 268px;
    }

    button {
      padding: 4px 0;
      padding-right: 6px;
      padding-left: 10px;
    }
  }

  &__marker {
    position: absolute;
    top: 50%;
    left: 85px;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__prompt {
    position: relative;
    padding-right: 35px;

    &::after{
      position: absolute;
      top: 50%;
      right: 0;
      width: 26px;
      height: 26px;
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_56_9082)'%3E%3Cpath opacity='0.4' d='M22.9999 11.9998C22.9999 17.5238 18.5229 21.9998 12.9999 21.9998C7.47688 21.9998 2.99988 17.5238 2.99988 11.9998C2.99988 6.4778 7.47688 1.9998 12.9999 1.9998C18.5229 1.9998 22.9999 6.4778 22.9999 11.9998' fill='%23343434'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.87 12.6307C13.87 13.1127 13.477 13.5057 12.995 13.5057C12.513 13.5057 12.12 13.1127 12.12 12.6307V8.21069C12.12 7.72869 12.513 7.33569 12.995 7.33569C13.477 7.33569 13.87 7.72869 13.87 8.21069V12.6307ZM12.125 15.8035C12.125 15.3215 12.516 14.9285 12.995 14.9285C13.488 14.9285 13.88 15.3215 13.88 15.8035C13.88 16.2855 13.488 16.6785 13.005 16.6785C12.52 16.6785 12.125 16.2855 12.125 15.8035Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_56_9082' x='-2' y='-2' width='30' height='30' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_56_9082'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_56_9082' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      transform: translateY(-50%);
      content: '';
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    @media (max-width: $breakpoint-lg) {
      margin-top: 24px;
    }
  }

  &__unit {
    color: $color-brand;
  }

  &__buttons {
    display: flex;
    gap: 10px;

    @media (max-width: $breakpoint-lg) {
      gap: 13px;
    }
  }

  &__button {
    padding: 18px 40px;

    @media (max-width: $breakpoint-lg) {
      padding: 18px 32px;
    }
  }
}

