.header {
  padding: 18px 0;
  background: #232323;
  border-bottom: 1px solid #151515;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
  }

  &__logo {
    display: block;
    width: 120px;
    height: 100%;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    padding: 10px 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-decoration: none;


    &:hover {
      color: $color-brand;
    }
  }

  &__btn {
    position: relative;
    margin-right: 29px;
    padding: 13px 40px 13px 18px;

    &::after {
      position: absolute;
      top: 50%;
      right: 18px;
      width: 14px;
      height: 9px;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.75C0 0.335786 0.335786 0 0.75 0H13.25C13.6642 0 14 0.335786 14 0.75C14 1.16421 13.6642 1.5 13.25 1.5H0.75C0.335786 1.5 0 1.16421 0 0.75ZM0 4.25C0 3.83579 0.335786 3.5 0.75 3.5H13.25C13.6642 3.5 14 3.83579 14 4.25C14 4.66421 13.6642 5 13.25 5H0.75C0.335786 5 0 4.66421 0 4.25ZM0.75 7C0.335786 7 0 7.33579 0 7.75C0 8.16421 0.335786 8.5 0.75 8.5H13.25C13.6642 8.5 14 8.16421 14 7.75C14 7.33579 13.6642 7 13.25 7H0.75Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      transform: translateY(-50%);
      content: '';
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__flag {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 100%;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 43px;
  }


  &__text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.02em;
    white-space: nowrap;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px 6px;
    cursor: pointer;


    &:hover {
      .header__text {
        color: $color-brand;
      }
    }

    &--cart {
      background: rgb(136 193 54 / 10%);
      border-radius: 5px;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

